html, body{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif !important;
    height: 100%;
    min-height: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    color: #fff;
    border-radius: 12px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ccc;
    border: 3px solid #fff;
    border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ccc; 
}

.view{
    height: 100%;
}

.cover{
    background-image: url('../pics/cover.png');
    background-repeat: no-repeat;
    width: 100%;
    height: auto 100%;
    text-align: center;
    background-size: 100%;
    background-position: center bottom;
}

.avatar-receiver{
    background: url('../pics/receiver.png') no-repeat;
    background-size: 300px; 
    width: auto;
    height: auto 50%;
}

.avatar-identifier{
    background: url('../pics/identifier.png') no-repeat;
    background-size: 300px; 
    width: auto;
    height: auto 50%;
}

.avatar-manager{
    background: url('../pics/manager.png') no-repeat;
    background-size: 300px; 
    width: auto;
    height: auto 50%;
}

.blueText{
    color: #0FA9D6;
}

.center{
    text-align: center;
}

.left{
    text-align: left;
}

.content{
    width: 100%;
}

.tit{
    font-size: 24px;
    font-weight: 900;
}

input{
    height: 50px;
    border: 1px solid #0FA9D6;
    border-radius: 25px;
    font-weight: 500;
    font-size: 14px !important;
    padding: 20px;
}

input::placeholder {
    color: #0FA9D6;
    font-size: 14px;
    font-weight: 500;
}

.inputTit{
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 5px
}

.submitBtn{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-image: linear-gradient(#3FBADE, #0FA9D6);
    border: 0px;
    cursor: pointer;
}

.submitBtn:hover{
    box-shadow: 0 10px 30px rgba(15,169,214,0.5);
}

.submitBtn-r{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: #fff;
    border: 0px;
}

.submitBtn-r:hover{
    box-shadow: 0 10px 30px rgba(255,255,255,0.5);
}


.logoutBtn{
    height: 35px;
    border: 2px solid #0FA9D6;
    background: none;
    font-weight: 700;
    font-size: 14px;
    color: #0FA9D6;
    padding: 0 30px;
    border-radius: 50px;
    cursor: pointer;
}

.logoutBtn:hover{
    border: 2px solid #fff;
    background: #fff;
    box-shadow: 0 5px 30px rgba(15,169,214,0.35);
}

.logoutBtn-r{
    height: 35px;
    border: 2px solid #fff;
    background: #fff;
    font-weight: 700;
    font-size: 14px;
    color: #0FA9D6;;
    padding: 0 30px;
    border-radius: 50px;
    margin-top: 8px;
}

.logoutBtn-r:hover{
    border: 2px solid #fff;
    background: #fff;
    box-shadow: 0 5px 30px rgba(255,255,255,0.5);
}

.navbar{
    position: fixed !important;
    top: 0;
    width: 100%;
    background-color: #0BB1E1;
    height: 65px;
    z-index: 999;
    box-shadow: 10px 0 50px rgba(0,0,0,0.1);
}

.navTitle{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    margin-top: 8px;
}

.request{
    width: 100%;
    margin: 10px;
    border: 1px solid #0FA9D6;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 700;
    width: 97%;
    margin-bottom: 10px;
}

.colTit{
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ccc;
}

.rightFrame{
    box-shadow: 10px 0 50px rgba(0,0,0,0.04);
}

.info{
    margin: 0px 10px;
    margin-top: 10px !important;
    background: #fff;
    padding: 10px 20px;;
    box-shadow: 10px 0 50px rgba(0,0,0,0.15);
    border-radius: 10px;
    position: fixed;
    z-index: 999999;
    width: 65%;
}

.locateBtn{
    border-radius: 25px;
    background-image: linear-gradient(#3FBADE, #0FA9D6);
    border: 0px;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}

.locateBtn:hover{
    box-shadow: 0 10px 30px rgba(15,169,214,0.5);
}

.redBorder{
    border: 1px solid #ff0000;
}

.errorPH::-webkit-input-placeholder {
    color: #ff0000;
}

.modalSignin{
    border-radius: 10px;
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
    top: 0;
    z-index: 999;
}

.modalCnt{
    background-color: #fff;
    margin: 100px;
}

.mdTitle{
    font-size: 18px;
}

.mdDes{
    font-size: 14px;
    color: #888888;
}

.mdBtn{
    font-size: 14px;
    color: #0FA9D6;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
    border: none;
    text-align: right;
    cursor: pointer;
}

.sugFrame{
    background-color: #fff;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.25);
    border-radius: 10px;
    position: fixed;
}

.note{
    height: 50px;
    border: 1px solid #0FA9D6;
    border-radius: 25px;
    font-weight: 500;
    font-size: 14px;
    padding: 20px;
}

.errorShake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }