html, body{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif !important;
    height: 100%;
    min-height: 100%;
}

.view{
    height: 100%;
}

.cover{
    background-image: url('../pics/cover.png');
    background-repeat: no-repeat;
    width: 100%;
    height: auto 100%;
    text-align: center;
    background-size: 100%;
    background-position: center bottom;
}

.avatar-receiver{
    background: url('../pics/receiver.png') no-repeat;
    background-size: 300px; 
    width: auto;
    height: auto 50%;
}

.avatar-identifier{
    background: url('../pics/identifier.png') no-repeat;
    background-size: 300px; 
    width: auto;
    height: auto 50%;
}

.avatar-manager{
    background: url('../pics/manager.png') no-repeat;
    background-size: 300px; 
    width: auto;
    height: auto 50%;
}

.blueText{
    color: #0FA9D6;
}

.center{
    text-align: center;
}

.left{
    text-align: left;
}

.content{
    width: 100%;
}

.tit{
    font-size: 24px;
    font-weight: 900;
}

input{
    height: 50px;
    border: 1px solid #0FA9D6;
    border-radius: 25px;
    font-weight: 500;
    font-size: 14px;
    padding: 20px;
}

input::placeholder {
    color: #0FA9D6;
    font-size: 14px;
    font-weight: 500;
}

.inputTit{
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 5px
}

.submitBtn{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-image: linear-gradient(#3FBADE, #0FA9D6);
    border: 0px;
}

.submitBtn:hover{
    box-shadow: 0 10px 30px rgba(15,169,214,0.5);
}

.submitBtn-r{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: #fff;
    border: 0px;
}

.submitBtn-r:hover{
    box-shadow: 0 10px 30px rgba(255,255,255,0.5);
}


.logoutBtn{
    height: 35px;
    border: 2px solid #0FA9D6;
    background: none;
    font-weight: 700;
    font-size: 14px;
    color: #0FA9D6;;
    padding: 0 30px;
    border-radius: 50px;
}

.logoutBtn:hover{
    border: 2px solid #fff;
    background: #fff;
    box-shadow: 0 5px 30px rgba(15,169,214,0.35);
}

.logoutBtn-r{
    height: 35px;
    border: 2px solid #fff;
    background: #fff;
    font-weight: 700;
    font-size: 14px;
    color: #0FA9D6;;
    padding: 0 30px;
    border-radius: 50px;
    margin-top: 8px;
}

.logoutBtn-r:hover{
    border: 2px solid #fff;
    background: #fff;
    box-shadow: 0 5px 30px rgba(255,255,255,0.5);
}

.navbar{
    background-color: #0BB1E1;
    display: block;
}

.tableTitle{
    font-size: 14px;
    font-weight: 700;
    color: #0FA9D6;
    text-align: center;
}

.tableRow{
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #0FA9D6;
    border-radius: 37px;
    padding: 15px;
    text-align: left !important;
    margin-top: 10px;
    color: #000;
    height: 52px;
}

.notLocated{
    color: #FF3C3C !important;
}

.located{
    color: #0094FF !important;
}

.taken{
    color: #15CE1C !important;
}

.moving{
    color: #FFA800 !important;
}

.done{
    color: #0FA9D6 !important;
}

.shortestWay{
    height: 46px;
    width: 46px;
    border-radius: 26px 26px 26px 26px;
    background-image: linear-gradient(#3FBADE, #0FA9D6);
    border: 0px;
    margin: -13px -28px -13px -13px !important;
}

.shortestWay:hover{
    box-shadow: 0 5px 30px rgba(15,169,214,0.5);
}

.i-am-centered{
    margin: auto;
    max-width: 90%;
}

.navTitle{
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin-top: 8px;
}