body{
    background: #EFF3FF;
    font-family: 'Montserrat', sans-serif;
}

#main{
    padding-top: 430px;
    width: 70%;
    color: #045066;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 300px;
}

#titleForm{
    font-size: 24px;
    margin-left: 20%;
    font-weight: bolder;
    margin-bottom: 8%;
}

#cover{
    width: 100%;
    height: auto;
    position: absolute;
}

#logo{
    position: absolute;
    padding-top: 10px;
    margin-left: 45%;
    width: 7%;
}

.form-control{
    border-radius: 20px;
    width: 90%;
}

.row{
    font-size: 16px;
}

#imgSubmit{
    width: 60%;
    height: auto;
}

#btnSubmit{
    margin-top: 75px;
    background: #EFF3FF;
    border: 0px;
}