html, body{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif !important;
    height: 100%;
    min-height: 100%;
}

.view{
    height: 100%;
}

.cover{
    background-image: url('../pics/cover.png');
    background-repeat: no-repeat;
    width: 100%;
    height: auto 100%;
    text-align: center;
    background-size: 100%;
    background-position: center bottom;
}

.avatar-receiver{
    background: url('../pics/receiver.png') no-repeat;
    background-size: 300px; 
    width: auto;
    height: auto 50%;
}

.avatar-identifier{
    background: url('../pics/identifier.png') no-repeat;
    background-size: 300px; 
    width: auto;
    height: auto 50%;
}

.avatar-manager{
    background: url('../pics/manager.png') no-repeat;
    background-size: 300px; 
    width: auto;
    height: auto 50%;
}

.blueText{
    color: #0FA9D6;
}

.center{
    text-align: center;
}

.left{
    text-align: left;
}

.content{
    width: 100%;
}

.redBorder{
    border: 1px solid #ff0000;
}

.errorPH::-webkit-input-placeholder {
    color: #ff0000;
}


.modalCnt{
    background-color: #fff;
    margin: 100px;
}

.mdTitle{
    font-size: 18px;
}

.mdDes{
    font-size: 14px;
    color: #888888;
}

.mdBtn{
    font-size: 14px;
    color: #0FA9D6;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
    border: none;
    text-align: right;
    cursor: pointer;
}

.mdBtn-no{
    font-size: 14px;
    color: #ccc;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
    border: none;
    text-align: right;
    cursor: pointer;
}